    <head>
    <title>{{ SITENAME }} </title>
    <meta charset='utf-8'>
    <script src="theme/js/jquery-1.11.2.js"></script>
    <link rel='stylesheet' href='theme/css/main.css' type='text/css'>
    <link rel="stylesheet" href="theme/css/slicknav.css" />
    <script src="theme/css/jquery.slicknav.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#menu').slicknav({
                label: ''
            });
        });
    </script>
    <meta name='viewport' content='width=device-width'>
    </head>
