@import url(https://fonts.googleapis.com/css?family=Lato);
$font: 'Lato', sans-serif;
$dark: #444;
$light: #fff;
$bg: #f5f4f2;
$accent: #C41230;

body {
	background-color: $bg;
	margin: 0px
}

h1, h2, h3, h4, h5, h6, p, a, li {
	font-family: $font;
	color: $dark;
}

a {
	color: $accent;

	&:hover{
		color: rgba($accent, .8);
	}
}

nav{
	background-color: $light;
	ul {
		list-style-type: none;
		margin: 0px;
	
		li {
			display: inline-block;

			ul {
				display: none;

				li {
					display: block;
				}
			}

			h3{
				display: inline-block;
			}
			a {
				padding: 3px;
			}
		}
	}
}

.articles{
	li {
		list-style-type: none;
		border-bottom: 2px solid $dark;

		li {
			border-bottom: none;
		}
	}
}

.footer{
	width: 100%;
	margin-top: 20px;
	background: $light;
	padding: 10px;
	text-align: center;

	img{
	max-width: 50px;}

	a{  
	display: inline-block;}
}

@media screen and (min-width: 680px){
	main{
		max-width: 700px;
		margin: 10px auto;
	}
}
