@import url(https://fonts.googleapis.com/css?family=Lato);
$font: 'Lato', sans-serif;
$dark: #444;
$light: #fff;
$bg: #f5f4f2;
$accent: #C41230;

body {
	background-color: $bg;
	margin: 0px;
}

h1, h2, h3, h4, h5, h6, p, a, li, tr, td, table{
	font-family: $font;
	color: $dark;
}

a {
	color: $accent;
	text-decoration: none;

	&:hover{
		color: rgba($accent, .8);
	}
}

nav{
	width: 100%;
	background-color: $light;
	ul {
		list-style-type: none;
		margin: 0px;

		li {
			display: inline-block;

			ul {
				display: none;

				li {
					display: block;
				}
			}

			h3{
				display: inline-block;
			}
			a {
				padding: 3px;
			}
		}
	}
}

.wrapper {
	display: flex;
  margin: 0 auto;
  max-width: 1050px;
  padding: 0 75px;
}

table {
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid lightgray;
}

th, td {
      padding: 15px;
          text-align: left;
        }

main {
	flex: 3 0 60%;
	max-width: 700px;
	min-width: 150px;

  .article {
    background: $light;
    border-left: 3px solid $dark;
    padding: 20px;
  }

	.article-blurb {
		display: flex;
		flex-direction: row;
		list-style-type: none;
		margin: 10px;
		background: $light;
		border-left: 3px solid $dark;

		img {
			max-width: 300px;
			max-height: 400px;
		}

		.blurb-content{
			margin: 20px;
		}
	}
}

aside {
	flex: 1 0 20%;
	max-width: 200px;
	min-width: 50px;
	margin: 20px auto;
	padding: 10px;
	background: $light;

	.social-media {
		display: flex;
		justify-content: center;

		img {
			flex: 1 0 auto;
			max-width: 30px; 
		}

		a {  
			display: inline-block; 
		}
	}

	.subscribe {
		display: flex;
		flex-flow: column nowrap;
		justify-content: center;

		h3 {
			flex: 1 0 auto;
		}
		input {
			flex: 1 0 auto;
			border: 1px solid $dark;
			padding: 3px;
			margin: 0px 2px;
		}
	}
}

.footer{
	width: 100%;
	margin-top: 20px;
	background: $light;
	padding: 10px;
	text-align: center;

	img{
	max-width: 50px;}

	a{  
	display: inline-block;}
}

@media screen and (min-width: 680px){
	main{
		max-width: 700px;
		margin: 10px auto;
	}
}
